
.titleReposSection {
  margin-bottom: 10px;
}

.cardRepo {
  height : 150px;
  border-top : 1px solid #eee;
  border-bottom : 1px solid #eee;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cardRepo div {
  display: flex;
}

.titleRepo {
  color : #23A8F2;
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 10px;
  text-decoration: none;
}


.descRepo {
  font-size: .95em;
  margin-bottom: 10px;
}

.starsRepo,.issueRepo,.watchRepo {
  width :100px;
  font-size: .8em;
  height : 30px;
  line-height: 30px;
  text-align: center;
  background-color: #DDEEFF;
  margin-right: 5px;
  border-radius: 3px;
}
